# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*.ipynb_checkpoints
*.html

# Virtual environments
.venv/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db

# Logs / temp files
*.log
*.tmp
*.out

